{% extends "app_1/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<section id="homepage">

	<!-- source: https://getbootstrap.com/docs/3.3/javascript/#carousel -->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  	<!-- Indicators -->
	  	<ol class="carousel-indicators">
	    	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  	</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
	    		<img src="{% static 'img/slider-img.jpg' %}" >
	    		<div class="carousel-caption">
	        		<h1>DAMORA</h1>
	    		</div>
	    	</div>
	    	<div class="item">
	    		<img src="{% static 'img/slider-img.jpg' %}" >
	    		<div class="carousel-caption">
	        		<h1>DAMORA</h1>
	      		</div>
	    	</div>
	    
		</div>

		<!-- Controls -->
  		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    	<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    	<span class="sr-only">Next</span>
  		</a>
	</div>

</section>

<section id="featured">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12 element-area">
				<h1 class="title-sec">FEATURED PRODUCTS</h2>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 element-area text-center">
				<div class="photo-area">
					<img src="{% static 'img/model.jpg'%}" class="featured-photo">
					<div class="overlay">
						<div class="text">VIEW DETAILS</div>
					</div>
				</div>
				<div class="featured-photo-desc">
					<h4>NELKE STRIPE TOP</h4>
					<p>IDR 299.000</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 text-center element-area">
				<div class="photo-area">
					<img src="{% static 'img/model.jpg'%}" class="featured-photo">
					<div class="overlay">
						<div class="text">VIEW DETAILS</div>
					</div>
				</div>
				<div class="featured-photo-desc">
					<h4>NELKE STRIPE TOP</h4>
					<p>IDR 299.000</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12"></div>
			<div class="col-md-4 col-sm-12 col-xs-12 element-area text-center">
				<div class="photo-area">
					<img src="{% static 'img/model.jpg'%}" class="featured-photo">
					<div class="overlay">
						<div class="text">VIEW DETAILS</div>
					</div>
				</div>
				<div class="featured-photo-desc">
					<h4>NELKE STRIPE TOP</h4>
					<p>IDR 299.000</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 text-center element-area">
				<div class="photo-area">
					<img src="{% static 'img/model.jpg'%}" class="featured-photo">
					<div class="overlay">
						<div class="text">VIEW DETAILS</div>
					</div>
				</div>
				<div class="featured-photo-desc">
					<h4>NELKE STRIPE TOP</h4>
					<p>IDR 299.000</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12"></div>
			<div class="col-md-4 col-sm-12 col-xs-12 element-area text-center">
				<div class="photo-area">
					<img src="{% static 'img/model.jpg'%}" class="featured-photo">
					<div class="overlay">
						<div class="text">VIEW DETAILS</div>
					</div>
				</div>
				
				<div class="featured-photo-desc">
					<h4>NELKE STRIPE TOP</h4>
					<p>IDR 299.000</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 text-center element-area">
				<div class="photo-area">
					<img src="{% static 'img/model.jpg'%}" class="featured-photo">
					<div class="overlay">
						<div class="text">VIEW DETAILS</div>
					</div>
				</div>
				<div class="featured-photo-desc">
					<h4>NELKE STRIPE TOP</h4>
					<p>IDR 299.000</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12"></div>
			<div class="col-md-8 col-sm-12 col-xs-12 featured-desc">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nisi velit, pellentesque ac consectetur non, commodo sit amet urna. Nam sit amet augue neque. Pellentesque vulputate, nunc at laoreet ullamcorper, nibh tortor consectetur nunc, quis pretium nibh purus vitae ligula. Proin bibendum quam ut malesuada rhoncus. Donec nec sodales justo. Duis diam tortor, varius at libero imperdiet, cursus tristique dui. Nam posuere nibh ipsum. Duis lectus eros, ultricies at risus id, ultricies finibus urna. In ac urna odio. Sed placerat, velit id pellentesque interdum, lacus ante consequat lacus, a vestibulum ligula eros et leo. Cras et ante a augue egestas tempus eget non metus.</p>	
			</div>
		</div>
	</div>
</section>

<section id="follow-ig">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12 element-area">
				<h1 class="title-sec">FOLLOW OUR INSTAGRAM</h1>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 follow-bigphoto-area">
				<img src="{% static 'img/ig1.jpg' %}" class="ig-photo">
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 element-small-area">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<img src="{% static 'img/ig-small.jpg' %}" class="ig-photo-small">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<img src="{% static 'img/ig-small.jpg' %}" class="ig-photo-small">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<img src="{% static 'img/ig-small.jpg' %}" class="ig-photo-small">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<img src="{% static 'img/ig-small.jpg' %}" class="ig-photo-small">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="subscribe">
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="subscribe-content">
					<div class="row">
						<div class="col-md-9">
							<form>
		  				    	<div class="form-group">
								    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email Address">
								    <p id="emailHelp" class="form-text text-muted"><i>SUBSCRIBE TO OUT NEWSLETTER AND GET IDR 50.000 OFF YOUR FIRST PURCHASE</i></p>
							    </div>
							</form>
						</div>
						<div class="col-md-3 btn-subscribe text-center">
							<a href="#">SUBSCRIBE</a>
						</div>
					</div>
					
				</div>
				<div class="sosmed text-center">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							<img src="{% static 'img/fb.png' %}" class="small-photo">
							<p>Facebook</p>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<img src="{% static 'img/instagram.png' %}" class="small-photo">
							<p>Instagram</p>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<img src="{% static 'img/yt.jpg' %}" class="small-photo">
							<p>Youtube</p>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<img src="{% static 'img/rss.png' %}" class="small-photo">
							<p>RSS Feed</p>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</section>

{% endblock %}