html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

/* Navbar */
.navbar-transparent {
	background-color: transparent;
}

.nav li {
	font-size: 16px;
}
.nav.navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media (min-width: 768px) {
	.navbar-nav {
		float: none;
	}
}

/* Homepage */
.carousel-caption h1 {
	font-size: 100px;
	font-family: 'Josefin Sans', sans-serif;
}

/* Featured */
.title-sec {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: #CECCCD;
	letter-spacing: 3px;
	margin: 0px;
}

.element-area {
	padding: 15px 30px 15px 30px;
}

.featured-photo {
	width: 100%;
}

.photo-area {
	margin: 2px;
}


.featured-photo-desc {
	margin-top: 20px;
	font-family: 'Oswald', sans-serif;
	color: #ABA9AA;
}

.featured-desc {
	color: #ABA9AA;
	margin: 20px 0px;
}

.overlay {
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
 	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .5s ease;
  	background-color: #000000;
}

.text {
   color: white;
   font-size: 30px;
   font-family: 'Oswald', sans-serif;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
}

.photo-area:hover .overlay {
	opacity: 0.5;
}
/* Follow IG */
.element-small-area {
	padding: 7.5px 15px 7.5px 15px; 
}

.follow-bigphoto-area {
	padding: 15px 15px 15px 30px;
}

.ig-photo {
	width: 100%;
}

.ig-photo-small {
	width: 100%;
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}

/* Subscribe */
#subscribe {
	margin-bottom: 50px;
}

.subscribe-content {
	margin-top: 200px;
	background-color: #989993;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
}

.subscribe-content form-group {
	background-color: transparent;
	outline: none;
	margin: 0px;
}

.subscribe-content p {
	color: white;
}

.btn-subscribe {
	padding: 0px;
	font-size: 20px;
}

.btn-subscribe a {
	color: white;
	font-size: 17px;
}
.subscribe-content p {
	margin-top: 15px;
	font-size: 10px;

}

.sosmed {
	margin-top: 20px;
	font-family: 'Oswald', sans-serif;
}

.small-photo {
	width: 100%;
	margin-bottom: 5px;
}