{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="description" content="DAMORA">
   	<meta name="author" content="Rico">
   	<!-- bootstrap css -->
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   	<link rel="stylesheet" type="text/css" href="{% static 'css/app_1.css' %}">
   	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
   	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

   	<title>{% block title %}DAMORA{% endblock %}</title>
</head>
<body>
	<header>
		{% include "app_1/partials/header.html" %}
   	</header>
   	<content>
    	{% block content %}

    	{% endblock %}
   	</content>
   	<footer>
   		{% include "app_1/partials/footer.html" %}
   	</footer>
   	<!-- Jquery n Bootstrap Script -->
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>